.large-hero {
  position: relative;

  /*
  The & is a PostCSS trick so we can nest
  selectors, but not have them compiled into
  descendant selectors. This follows BEM methodology.
  */
  &__text-content {
    position: absolute; /* positions this element relative to its container */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 300;
    color: #2f5572;
    font-size: 4.8rem;
    margin: 0;
  }

  &__subtitle {
    font-weight: 300;
    color: #2f5572;
    font-size: 2.9rem;
    margin: 0;
  }

  &__description {
    color: #fff;
    font-size: 1.875rem; /* 1.875 * 16 = 30 */
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    max-width: 30rem; /* 480px / 16px = 30rem */
    margin-left: auto;
    margin-right: auto;
  }

}